.loading {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}
.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 30px 5%;
  row-gap: 40px;
}
.titleContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.title {
  font-family: "Bai Jamjuree";
  font-size: 26px;
  font-weight: 400;
  margin: 0px;
}
.editContainer {
  align-items: center;
  display: flex;
  column-gap: 8px;
  cursor: pointer;
}
.editText {
  font-family: "Bai Jamjuree";
  font-size: 16px;
  font-weight: 600;
  margin: 0px;
}
.contractNumber {
  font-weight: 600;
}
.contractInfo {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 50%;
}
.infoRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.infoTitle {
  font-family: "Poppins";
  font-weight: 600;
  margin: 0px;
}
.infoText {
  font-weight: 300;
}
.statusBox {
  border: 0.5px #000000 solid;
  padding: 0px 20px;
}
.statusText {
  color: #ffffff;
  font-family: "Poppins";
  font-weight: 400;
  margin: 0px;
  text-shadow: 1px 1px 2px #000000;
}
.articlesContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: 100%;
}
.articlesTitle {
  font-family: "Bai Jamjuree";
  font-size: 22px;
  font-weight: 400;
  margin: 0px;
  text-transform: capitalize;
}
.selectInput {
  border: 0.5px #000000 solid;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  margin: 0px;
  text-transform: uppercase;
  padding: 0.5px 13px;
}
.option {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  margin: 0px;
  text-transform: uppercase;
}
