.container {
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 16px;
  display: flex;
  justify-content: space-between;
  padding: 16px 5%;
}
.logoBox {
  cursor: pointer;
  display: flex;
}
.title {
  color: #000000;
  font-size: 24px;
  font-family: "Bai Jamjuree";
  font-weight: 600;
  text-transform: capitalize;
}
.subtitle {
  color: #000000;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 300;
  opacity: 0.8;
  text-transform: uppercase;
}
.searchBox {
  display: flex;
  width: 30%;
}
.search {
  appearance: none;
  background-color: transparent;
  border: solid rgba(0, 0, 0, 0.5) 1px;
  border-radius: 8px;
  font-family: "Poppins";
  padding: 0px 16px;
  transition: all 400ms;
  width: 100%;
}
.search:focus {
  border: solid transparent 1px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 8px;
  outline: none;
  transition: all 400ms;
}
.buttonBox {
  display: flex;
  flex-direction: row;
}
.button {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  border: solid transparent 1px;
  border-radius: 8px;
  color: #000000;
  display: flex;
  flex-direction: row;
  gap: 0px 10px;
  padding: 5px 20px;
  transition: all 400ms;
}
.button:hover {
  background-color: white;
  border: solid rgba(0, 0, 0, 0.5) 1px;
  cursor: pointer;
  transition: all 400ms;
}
.buttonText {
  color: #ffffff;
  font-family: "Bai Jamjuree";
  font-size: 16px;
  font-weight: 700;
  margin: 0px;
  text-transform: capitalize;
}
.crossIcon {
  background: url("../../assets/plusWhite.svg");
  background-size: contain;
  height: 20px;
  width: 20px;
}
.button:hover .buttonText {
  color: #000000;
}
.button:hover .crossIcon {
  background: url("../../assets/plusBlack.svg");
  background-size: contain;
  height: 20px;
  width: 20px;
}
