.container {
  background-color: transparent;
  bottom: 0px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 16px;
  display: flex;
  justify-content: flex-end;
  left: 0px;
  padding: 10px 5%;
  position: fixed;
  right: 0px;
}
.text {
  color: #000000;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 300;
  margin: 0px;
}
