.table {
  appearance: none;
  border-spacing: 0px;
  border: 1px solid black;
  border-radius: 8px;
  overflow: hidden;
}
.header {
  border-bottom: 1px rgba(0, 0, 0, 0.85) solid;
}
.headerCell {
  font-family: "Poppins";
  font-weight: 700;
  padding: 10px 40px;
}
.row {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  cursor: pointer;
  transition: all 200ms;
}
.row:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 200ms;
}
.cell {
  border-top: 1px solid black;
  font-family: "Poppins";
  font-weight: 300;
  padding: 10px 40px;
}
.statusBox {
  background-color: green;
  border: 0.5px rgba(0, 0, 0, 1) solid;
  display: flex;
  height: 20px;
}
